.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  margin: 70px auto 30px;
}

.chartBox {
  padding: 30px;
}

.clickButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.clickRadio {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}